APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080
RUST_LOG=server=debug,tower_http=info
TOKEN_PREFIX=dymini
DOUYIN_APP_ID=
DOUYIN_APP_SECRET=
# DOUYIN_CODE2SESSION_URL=https://developer.toutiao.com/api/apps/v2/jscode2session
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/dy_mini
